{
    "printWidth": 80,
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": false,
    "useTabs": false,
    "trailingComma": "all",
    "overrides": [{
            "files": [
                "*.mjs",
                "*.cjs",
                "*.js",
                "*.jsx"
            ],
            "options": {
                "parser": "babel"
            }
        },
        {
            "files": [
                "*.mts",
                "*.cts",
                "*.ts",
                "*.tsx"
            ],
            "options": {
                "parser": "babel-ts"
            }
        },
        {
            "files": [
                "*.json",
                "*.jsonc",
                "*.json5"
            ],
            "options": {
                "parser": "json5"
            }
        }
    ]
}